In [1]:
import MySQLdb

In [3]:
#db연결 객체 만들기
db = MySQLdb.connect(
    "15.165.1.169", # database server public ip 
    "root",         # user
    "dss",          # password
    "world",        # database name
    #charset= "utf-8"   #sql에서 alter charset 해서 utf-8로 맞춘다음에 해야지 쓸 수 있어
)
db

In [4]:
#쿼리작성
QUERY ="""
    SHOW TABLES;
"""

In [10]:
# 쿼리실행
curs= db.cursor()
curs.execute(QUERY)
#쿼리를 실행한 결과가 cursor안에 들어감

7

In [11]:
#결과 출력
rows = curs.fetchall()
rows

(('USER1',),
 ('addr',),
 ('city',),
 ('code_name',),
 ('country',),
 ('countrylanguage',),
 ('user',))

In [15]:
pip install pandas

Collecting pandas
  Using cached https://files.pythonhosted.org/packages/86/12/08b092f6fc9e4c2552e37add0861d0e0e0d743f78f1318973caad970b3fc/pandas-0.25.2-cp36-cp36m-manylinux1_x86_64.whl
Collecting numpy>=1.13.3 (from pandas)
  Using cached https://files.pythonhosted.org/packages/0e/46/ae6773894f7eacf53308086287897ec568eac9768918d913d5b9d366c5db/numpy-1.17.3-cp36-cp36m-manylinux1_x86_64.whl
Collecting pytz>=2017.2 (from pandas)
  Downloading https://files.pythonhosted.org/packages/e7/f9/f0b53f88060247251bf481fa6ea62cd0d25bf1b11a87888e53ce5b7c8ad2/pytz-2019.3-py2.py3-none-any.whl (509kB)
    100% |████████████████████████████████| 512kB 24.9MB/s ta 0:00:01
Requirement already satisfied: python-dateutil>=2.6.1 in /home/ubuntu/.pyenv/versions/3.6.9/envs/python3/lib/python3.6/site-packages (from pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in /home/ubuntu/.pyenv/versions/3.6.9/envs/python3/lib/python3.6/site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
Installing collected packages: numpy, pytz, pandas
Successfully installed numpy-1.17.3 pandas-0.25.2 pytz-2019.3
You are using pip version 18.1, however version 19.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [16]:
# 데이터 프레임으로 가져오기
import pandas as pd

/home/ubuntu/.pyenv/versions/3.6.9/envs/python3/lib/python3.6/site-packages/pandas/compat/__init__.py:85: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [17]:
#쿼리작성
QUERY ="""
    select *
    FROM country
"""

In [18]:
df= pd.read_sql(QUERY, db)
df.tail(2)

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
237,ZMB,Zambia,Africa,Eastern Africa,752618.0,1964.0,9169000,37.2,3377.0,3922.0,Zambia,Republic,Frederick Chiluba,3162.0,ZM
238,ZWE,Zimbabwe,Africa,Eastern Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,Robert G. Mugabe,4068.0,ZW