### SQLAlchemy
- python에서 사용하는 ORM
- ORM: Object Relational Mapping 
    - 데이터 베이스를 객체화 시켜서 데이터 베이스에 있는 데이터를 CRUD(create read update delecte)할 수 있다.
    - 쿼리 대신 함수 형태로 CRUD를 할 수 있다.
    - 사용하는 데이터 베이스를 변경하는 경우 엔진만 바꿔주면 된다
    
- database의 row와 파이썬의 객체를 매핑해줌
- 각 데이터베이스마다 객체로 만들어준 후 파이썬 함수로 요청을 하기 때문에 서로 다른 SQL문으로 작성된 데이터 베이스의 쿼리문을 따로 수정 안해도 데이터를 가져올 수 있다.(접속정보만 바꾸면 된다)

- 설치 : pip install sqlalchemy

In [5]:
from sqlalchemy import *
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker  #연결해주는 역할

In [6]:
#데이터 베이스 연결
engine = create_engine("mysql://root:dss@15.165.1.169/test")   #//사용자이름:비번@퍼블릭아이피
#engine = create_engine("mysql://root:dss@15.165.1.169/test?charset=utf-8") #한글 안깨지려면

In [7]:
engine

Engine(mysql://root:***@15.165.1.169/test)

In [8]:
#테이블 객체 생성을 위한 클래스 작성
Base = declarative_base()

#base에 있는 기능들 상속받아서 user클래스에 넣어줌
class User(Base):
    
    __tablename__ = "user"  #테이블 이름
    #컬럼데이터 작성
    user_id = Column(Integer, primary_key= True)
    name = Column(String(20))
    email = Column(String(30))
    age = Column(Integer)
    rdate = Column(DateTime)
    
    #생성자 함수 작성
    def __init__(self, name, email, age, rdate):
        self.name = name
        self.email = email
        self.age = age
        self.rdate = rdate
        
    #repr 함수
    def __repr__(self):
        return "<User {},{},{},{}>".format(self.name, self.email, self.age, self.rdate)

In [10]:
# engine에 연결된 베이스(test)에 테이블 생성
# Base에 상속받은 데이터들이 모두 엔진으로 생성
Base.metadata.create_all(engine)

In [11]:
# 데이터베이스에 session 연결
Session = sessionmaker(engine)  #Session이라는 클래스를 리턴한 것 
session = Session()   #세션이라는 객체 만들어 줘서 연결 / 클래스를 객체로 만들어준것
session  # 이 객체에 데이터베이스가 연결된것

#### 1. insert

In [22]:

user = User("jin", "jin@gmail.com",27, "2016-03-21")
user

In [23]:
session.add(user) #접속 세션 데이터에 user 가 저장됨

In [14]:
#run transaction
#이순간에 데이터베이스에 저장됨(들어가게됨)
#transaction: 실행하는 단계를 하나로 뭉쳐서, 한 트랜잭션이 시도중이면 다른 트랜잭션 실행 못하도록 (ex: 현금인출 트랜젝션)
#몽고디비는 트랜젝션 지원 X, RDBMS는 지원0
session.commit()

In [19]:
# many insert
# 객체만들기
users = [
    User("alice", "alice@gmail.com", 25, "2018-02-21"),
    User("andy", "andy@daum.net", 25, "2018-02-21")
    
]

In [20]:
session.add_all(users)
#세션에 users 넣어주기

In [24]:
session.commit()

In [25]:
# rollback : session에 있는 객체 초기화
# session.add, session.add_all 한거 모두 초기화(삭제)
session.rollback()

#### 2. select

In [28]:
# all
results = session.query(User).all()
list(results)

[<User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User alice,alice@gmail.com,25,2018-02-21 00:00:00>,
 <User andy,andy@daum.net,25,2018-02-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>]

In [27]:
results

[<User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User alice,alice@gmail.com,25,2018-02-21 00:00:00>,
 <User andy,andy@daum.net,25,2018-02-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>]

In [31]:
# filter: ==, !=, >, < ,<=, >=, like, in
# SQL에서 where user.name= "jin" 과 동일
results= session.query(User).filter(User.name == "jin")
list(results)

[<User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>]

In [34]:
#filter :like
results= session.query(User).filter(User.email.like("%gmail.com%"))
list(results)

[<User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User alice,alice@gmail.com,25,2018-02-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>]

In [36]:
#filter :in_
results= session.query(User).filter(User.name.in_(["alice","andy"]))
list(results)

[<User alice,alice@gmail.com,25,2018-02-21 00:00:00>,
 <User andy,andy@daum.net,25,2018-02-21 00:00:00>]

In [38]:
#filter :or_
results= session.query(User).filter(
    or_(User.name == "jin", User.age == 33)
)
list(results)

[<User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>]

In [39]:
#order by
results = session.query(User).order_by(User.age.asc())
list(results)

[<User alice,alice@gmail.com,25,2018-02-21 00:00:00>,
 <User andy,andy@daum.net,25,2018-02-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>]

In [40]:
results = session.query(User).order_by(User.age.desc())
list(results)

[<User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User alice,alice@gmail.com,25,2018-02-21 00:00:00>,
 <User andy,andy@daum.net,25,2018-02-21 00:00:00>]

In [42]:
results= session.query(User).filter(
    or_(User.name == "jin", User.age == 33)
).order_by(User.age.desc())
list(results)

[<User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>]

In [43]:
#count
session.query(User).count()

4

#### 3. update

In [44]:
data = session.query(User).filter(User.name == "andy").one()
data

In [45]:
data2 = session.query(User).filter(User.name == "jin")
data2[0]

In [46]:
data.age = 30

In [47]:
session.add(data)

In [48]:
session.commit()

#### 4. Delete

In [51]:
# delete row
session.query(User).filter(User.name == "jin").delete()
#리턴값: 두개가 삭제되었다

2

In [52]:
session.commit()

#delete table

In [53]:
User.__table__.drop(engine)

### 5. with Pandas

In [2]:
import seaborn as sns

/home/ubuntu/.pyenv/versions/3.6.9/envs/python3/lib/python3.6/site-packages/pandas/compat/__init__.py:85: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)
/home/ubuntu/.pyenv/versions/3.6.9/envs/python3/lib/python3.6/site-packages/pandas/compat/__init__.py:85: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [12]:
import pandas as pd

In [57]:
pip install seaborn

Collecting seaborn
  Using cached https://files.pythonhosted.org/packages/a8/76/220ba4420459d9c4c9c9587c6ce607bf56c25b3d3d2de62056efe482dadc/seaborn-0.9.0-py3-none-any.whl
Collecting scipy>=0.14.0 (from seaborn)
  Using cached https://files.pythonhosted.org/packages/29/50/a552a5aff252ae915f522e44642bb49a7b7b31677f9580cfd11bcc869976/scipy-1.3.1-cp36-cp36m-manylinux1_x86_64.whl
Requirement already satisfied: numpy>=1.9.3 in /home/ubuntu/.pyenv/versions/3.6.9/envs/python3/lib/python3.6/site-packages (from seaborn) (1.17.3)
Requirement already satisfied: pandas>=0.15.2 in /home/ubuntu/.pyenv/versions/3.6.9/envs/python3/lib/python3.6/site-packages (from seaborn) (0.25.2)
Collecting matplotlib>=1.4.3 (from seaborn)
  Using cached https://files.pythonhosted.org/packages/57/4f/dd381ecf6c6ab9bcdaa8ea912e866dedc6e696756156d8ecc087e20817e2/matplotlib-3.1.1-cp36-cp36m-manylinux1_x86_64.whl
Requirement already satisfied: python-dateutil>=2.6.1 in /home/ubuntu/.pyenv/versions/3.6.9/envs/python3/lib/python3.6/site-packages (from pandas>=0.15.2->seaborn) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in /home/ubuntu/.pyenv/versions/3.6.9/envs/python3/lib/python3.6/site-packages (from pandas>=0.15.2->seaborn) (2019.3)
Collecting cycler>=0.10 (from matplotlib>=1.4.3->seaborn)
  Downloading https://files.pythonhosted.org/packages/f7/d2/e07d3ebb2bd7af696440ce7e754c59dd546ffe1bbe732c8ab68b9c834e61/cycler-0.10.0-py2.py3-none-any.whl
Collecting kiwisolver>=1.0.1 (from matplotlib>=1.4.3->seaborn)
  Downloading https://files.pythonhosted.org/packages/f8/a1/5742b56282449b1c0968197f63eae486eca2c35dcd334bab75ad524e0de1/kiwisolver-1.1.0-cp36-cp36m-manylinux1_x86_64.whl (90kB)
    100% |████████████████████████████████| 92kB 1.6MB/s ta 0:00:01
Collecting pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 (from matplotlib>=1.4.3->seaborn)
  Downloading https://files.pythonhosted.org/packages/11/fa/0160cd525c62d7abd076a070ff02b2b94de589f1a9789774f17d7c54058e/pyparsing-2.4.2-py2.py3-none-any.whl (65kB)
    100% |████████████████████████████████| 71kB 22.5MB/s ta 0:00:01
Requirement already satisfied: six>=1.5 in /home/ubuntu/.pyenv/versions/3.6.9/envs/python3/lib/python3.6/site-packages (from python-dateutil>=2.6.1->pandas>=0.15.2->seaborn) (1.12.0)
Requirement already satisfied: setuptools in /home/ubuntu/.pyenv/versions/3.6.9/envs/python3/lib/python3.6/site-packages (from kiwisolver>=1.0.1->matplotlib>=1.4.3->seaborn) (40.6.2)
Installing collected packages: scipy, cycler, kiwisolver, pyparsing, matplotlib, seaborn
Successfully installed cycler-0.10.0 kiwisolver-1.1.0 matplotlib-3.1.1 pyparsing-2.4.2 scipy-1.3.1 seaborn-0.9.0
You are using pip version 18.1, however version 19.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# 데이터 저장하기

In [3]:
iris_df =  sns.load_dataset("iris")
iris_df.tail(2)

     sepal_length  sepal_width  petal_length  petal_width    species
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [8]:
engine

Engine(mysql://root:***@15.165.1.169/test)

In [10]:
iris_df.to_sql(name="iris", con=engine, if_exists= "replace" )

In [ ]:
#데이터 가져오기

In [15]:
engine = create_engine("mysql://root:dss@15.165.1.169/world")

In [16]:
QUERY ="""
    SELECT *
    FROM city
"""
city_df = pd.read_sql(QUERY, engine)
city_df.tail()

        ID        Name CountryCode    District  Population
4074  4075  Khan Yunis         PSE  Khan Yunis      123175
4075  4076      Hebron         PSE      Hebron      119401
4076  4077    Jabaliya         PSE  North Gaza      113901
4077  4078      Nablus         PSE      Nablus      100231
4078  4079       Rafah         PSE       Rafah       92020