In [45]:
PW= ''

In [16]:
import pymysql

conn = None
try:
    conn = pymysql.connect(
        host = 'localhost',
        user = 'root',
        password=PW,
        db='python',
        charset='utf8'
    ) #데이터 베이스 접속

    with conn.cursor() as cursor: #Cursor 객체 생성

        sql = ''' CREATE TABLE mysql2(
                    ID INTEGER PRIMARY KEY AUTO_INCREMENT,
                    TITLE VARCHAR(100), CONTENT VARCHAR(100))'''

        # '''는 문자열을 의미한다
        cursor.execute(sql) #SQL실행
        conn.commit()  #저장


except pymysql.InternalError as e:
    print(e)
finally:
    if conn:
        conn.close()

(1049, "Unknown database 'python1'")

AttributeError: 'NoneType' object has no attribute 'close'

In [ ]:
#예외처리 없는 버전
import pymysql


conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='python',
    charset='utf8'
) #데이터 베이스 접속

cursor = conn.cursor() #Cursor 객체 생성

sql = ''' CREATE TABLE mysql2(
            ID INTEGER PRIMARY KEY AUTO_INCREMENT,
            TITLE VARCHAR(100), CONTENT VARCHAR(100))'''

# '''는 문자열을 의미한다
cursor.execute(sql) #SQL실행
conn.commit()  #저장
cursor.close() 
conn.close()

In [24]:
# placeholder 이용
# %s밖에 실행이 되지 않는다

#예외처리 없는 버전
import pymysql


conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='python',
    charset='utf8'
) #데이터 베이스 접속

cursor = conn.cursor() #Cursor 객체 생성

sql = ''' INSERT INTO mysql(ID ,TITLE ,CONTENT)
            VALUES (NULL, %s, %s)'''

# '''는 문자열을 의미한다
cursor.execute(sql, ('제목A', '내용Z')) #SQL실행
conn.commit()  #저장
cursor.close() 
conn.close()

### 데이터 수정

In [20]:
# placeholder 이용
# %s밖에 실행이 되지 않는다

#예외처리 없는 버전
import pymysql


conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='python',
    charset='utf8'
) #데이터 베이스 접속

cursor = conn.cursor() #Cursor 객체 생성

sql = ''' UPDATE mysql SET TITLE = %s
            WHERE ID =%s'''

# '''는 문자열을 의미한다
cursor.execute(sql, ('제목수정됨',1)) #id가 1이면 TITLE이 제목수정됨으로 수정
conn.commit()  #저장
cursor.close() 
conn.close()

### 게시글 지우기

In [21]:
# placeholder 이용
# %s밖에 실행이 되지 않는다

#예외처리 없는 버전
import pymysql


conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='python',
    charset='utf8'
) #데이터 베이스 접속

cursor = conn.cursor() #Cursor 객체 생성

sql = ''' DELETE FROM mysql
            WHERE ID =%s'''

# '''는 문자열을 의미한다
cursor.execute(sql, (2)) #id가 1이면 TITLE이 제목수정됨으로 수정
conn.commit()  #저장
cursor.close() 
conn.close()

### 데이터 조회
- fetchone() :데이터 1개 조회
- fetchall() : 데이터 모두 조회
- fetchmany(): 데이터 여러개 조회

In [25]:

import pymysql


conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='python',
    charset='utf8'
) #데이터 베이스 접속

cursor = conn.cursor() #Cursor 객체 생성

sql = ''' SELECT * FROM mysql'''

# '''는 문자열을 의미한다
cursor.execute(sql) 
result = cursor.fetchall()
print(result)
print('='*10)
print(result[0][1])
conn.commit()  #저장
cursor.close() 
conn.close()

((1, '제목수정됨', '내용Z'), (3, '제목A', '내용Z'))
==========
제목수정됨

In [26]:

import pymysql


conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='python',
    charset='utf8'
) #데이터 베이스 접속

cursor = conn.cursor() #Cursor 객체 생성

sql = ''' SELECT TITLE,CONTENT FROM mysql'''

# '''는 문자열을 의미한다
cursor.execute(sql) 
result = cursor.fetchall()
print(result)
print('='*10)
print(result[0][1])
conn.commit()  #저장
cursor.close() 
conn.close()

(('제목수정됨', '내용Z'), ('제목A', '내용Z'))
==========
내용Z

In [34]:
#예외처리 없는 버전
import pymysql

conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='python',
    charset='utf8'
) #데이터 베이스 접속

cursor = conn.cursor() #Cursor 객체 생성

sql = ''' SELECT TITLE,CONTENT FROM mysql'''

# '''는 문자열을 의미한다
cursor.execute(sql) 
result = cursor.fetchmany(2)
result1 = cursor.fetchone()
print(result)
print(result1)

conn.commit()  #저장
cursor.close() 
conn.close()

(('제목수정됨', '내용Z'), ('제목A', '내용Z'))
None

### 연습문제

In [36]:
#1. MEMBER 테이블 만들기
import pymysql

conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='python',
    charset='utf8'
) #데이터 베이스 접속

cursor = conn.cursor() #Cursor 객체 생성


sql = ''' CREATE TABLE member(
        ID INTEGER PRIMARY KEY AUTO_INCREMENT,
        NAME VARCHAR(30),
        EMAIL VARCHAR(30),
        C_DATE DATETIME
        )'''

# '''는 문자열을 의미한다
cursor.execute(sql) 

conn.commit()  #저장
cursor.close() 
conn.close()

In [37]:
# 2. ARTICLE 테이블 만들기
import pymysql

conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='python',
    charset='utf8'
) #데이터 베이스 접속

cursor = conn.cursor() #Cursor 객체 생성


sql = ''' CREATE TABLE article(
        ID INTEGER PRIMARY KEY AUTO_INCREMENT,
        TITLE VARCHAR(30),
        CONTENT VARCHAR(30),
        WRITER VARCHAR(30),
        HIT INTEGER,
        C_DATE DATETIME
        )'''

# '''는 문자열을 의미한다
cursor.execute(sql) 

conn.commit()  #저장
cursor.close() 
conn.close()

### print 형식 정하기

In [12]:
# fetchmany, cursor()
import pymysql

conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='mydb',
    charset='utf8'
) #데이터 베이스 접속

cursor = conn.cursor() #Cursor 객체 생성

sql = '''SELECT year, area1, COUNT(*)
            FROM accident
            GROUP BY AREA1, YEAR'''


cursor.execute(sql) 
result = cursor.fetchmany(3)
for row in result:
    print(row)
conn.commit()  #저장
cursor.close() 
conn.close()

(2016, '강원', 206)
(2016, '경기', 749)
(2016, '경남', 359)

In [17]:
# fetchmany, DictCursor
import pymysql

conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='mydb',
    charset='utf8'
) #데이터 베이스 접속

cursor = conn.cursor(pymysql.cursors.DictCursor) #Cursor 객체 생성

sql = '''SELECT year, area1, COUNT(*) as 'cnt'
            FROM accident
            GROUP BY AREA1, YEAR'''


cursor.execute(sql) 
result = cursor.fetchmany(3)
for row in result:
    print(row['area1'],row['year'], row['cnt'])
conn.commit()  #저장
cursor.close() 
conn.close()

강원 2016 206
경기 2016 749
경남 2016 359

### 연습문제

In [19]:

import pymysql

conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='python',
    charset='utf8'
) #데이터 베이스 접속

with conn.cursor() as cursor: #Cursor 객체 생성

    sql = '''CREATE TABLE memeber(
            ID INTEGER PRIMARY KEY AUTO_INCREMENT,
            NAME VARCHAR(30),
            EMAIL VARCHAR(80),
            C_DATE DATETIME )
    '''


    cursor.execute(sql) 

    conn.commit()  #저장
# cursor.close() 
conn.close()

In [20]:

import pymysql

conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='python',
    charset='utf8'
) #데이터 베이스 접속

with conn.cursor() as cursor: #Cursor 객체 생성

    sql = '''INSERT INTO memeber VALUES(null, %s, %s, now())
    '''


    cursor.execute(sql,('a','a@a.com')) 

    conn.commit()  #저장
# cursor.close() 
conn.close()

In [21]:

import pymysql

conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='python',
    charset='utf8'
) #데이터 베이스 접속

with conn.cursor() as cursor: #Cursor 객체 생성

    sql = '''UPDATE memeber SET
    NAME = %s, EMAIL = %s
    WHERE ID = %s
    '''


    cursor.execute(sql,('aa','a@aa.com',1)) 

    conn.commit()  #저장
# cursor.close() 
conn.close()

In [27]:

import pymysql

conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='python',
    charset='utf8'
) #데이터 베이스 접속

with conn.cursor() as cursor: #Cursor 객체 생성

    sql = '''CREATE TABLE article2(
            ID INTEGER PRIMARY KEY AUTO_INCREMENT,
            TITLE VARCHAR(30),
            CONTENT VARCHAR(80),
            WRITER VARCHAR(80),
            HIT INTEGER,
            C_DATE DATETIME )
    '''


    cursor.execute(sql) 

    conn.commit()  #저장

# cursor.close() 
conn.close()

In [43]:

import pymysql

conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='python',
    charset='utf8'
) #데이터 베이스 접속

with conn.cursor() as cursor: #Cursor 객체 생성

    sql = '''INSERT INTO article2 VALUES(null, %s, %s,%s,%s, now())'''


    cursor.execute(sql,('제목','내용','파이썬',0)) 
    cursor.execute(sql,('제목2','내용2','파이썬2',0)) 

    conn.commit()  #저장
# cursor.close() 
conn.close()

In [42]:

import pymysql

conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='python',
    charset='utf8'
) #데이터 베이스 접속

with conn.cursor() as cursor: #Cursor 객체 생성

    sql = '''UPDATE article2 SET
    title = %s, content = %s, hit=%s
    WHERE ID = %s
    '''


    cursor.execute(sql,('제목수정','내용수정',100,1)) 

    conn.commit()  #저장
# cursor.close() 
conn.close()