In [1]:
PW= ''

In [16]:
import pymysql

conn = None
try:
    conn = pymysql.connect(
        host = 'localhost',
        user = 'root',
        password=PW,
        db='python',
        charset='utf8'
    ) #데이터 베이스 접속

    with conn.cursor() as cursor: #Cursor 객체 생성

        sql = ''' CREATE TABLE mysql2(
                    ID INTEGER PRIMARY KEY AUTO_INCREMENT,
                    TITLE VARCHAR(100), CONTENT VARCHAR(100))'''

        # '''는 문자열을 의미한다
        cursor.execute(sql) #SQL실행
        conn.commit()  #저장


except pymysql.InternalError as e:
    print(e)
finally:
    if conn:
        conn.close()

(1049, "Unknown database 'python1'")

AttributeError: 'NoneType' object has no attribute 'close'

In [ ]:
#예외처리 없는 버전
import pymysql


conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='python',
    charset='utf8'
) #데이터 베이스 접속

cursor = conn.cursor() #Cursor 객체 생성

sql = ''' CREATE TABLE mysql2(
            ID INTEGER PRIMARY KEY AUTO_INCREMENT,
            TITLE VARCHAR(100), CONTENT VARCHAR(100))'''

# '''는 문자열을 의미한다
cursor.execute(sql) #SQL실행
conn.commit()  #저장
cursor.close() 
conn.close()

In [24]:
# placeholder 이용
# %s밖에 실행이 되지 않는다

#예외처리 없는 버전
import pymysql


conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='python',
    charset='utf8'
) #데이터 베이스 접속

cursor = conn.cursor() #Cursor 객체 생성

sql = ''' INSERT INTO mysql(ID ,TITLE ,CONTENT)
            VALUES (NULL, %s, %s)'''

# '''는 문자열을 의미한다
cursor.execute(sql, ('제목A', '내용Z')) #SQL실행
conn.commit()  #저장
cursor.close() 
conn.close()

### 데이터 수정

In [20]:
# placeholder 이용
# %s밖에 실행이 되지 않는다

#예외처리 없는 버전
import pymysql


conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='python',
    charset='utf8'
) #데이터 베이스 접속

cursor = conn.cursor() #Cursor 객체 생성

sql = ''' UPDATE mysql SET TITLE = %s
            WHERE ID =%s'''

# '''는 문자열을 의미한다
cursor.execute(sql, ('제목수정됨',1)) #id가 1이면 TITLE이 제목수정됨으로 수정
conn.commit()  #저장
cursor.close() 
conn.close()

### 게시글 지우기

In [21]:
# placeholder 이용
# %s밖에 실행이 되지 않는다

#예외처리 없는 버전
import pymysql


conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='python',
    charset='utf8'
) #데이터 베이스 접속

cursor = conn.cursor() #Cursor 객체 생성

sql = ''' DELETE FROM mysql
            WHERE ID =%s'''

# '''는 문자열을 의미한다
cursor.execute(sql, (2)) #id가 1이면 TITLE이 제목수정됨으로 수정
conn.commit()  #저장
cursor.close() 
conn.close()

### 데이터 조회
- fetchone() :데이터 1개 조회
- fetchall() : 데이터 모두 조회
- fetchmany(): 데이터 여러개 조회

In [25]:

import pymysql


conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='python',
    charset='utf8'
) #데이터 베이스 접속

cursor = conn.cursor() #Cursor 객체 생성

sql = ''' SELECT * FROM mysql'''

# '''는 문자열을 의미한다
cursor.execute(sql) 
result = cursor.fetchall()
print(result)
print('='*10)
print(result[0][1])
conn.commit()  #저장
cursor.close() 
conn.close()

((1, '제목수정됨', '내용Z'), (3, '제목A', '내용Z'))
==========
제목수정됨

In [26]:

import pymysql


conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='python',
    charset='utf8'
) #데이터 베이스 접속

cursor = conn.cursor() #Cursor 객체 생성

sql = ''' SELECT TITLE,CONTENT FROM mysql'''

# '''는 문자열을 의미한다
cursor.execute(sql) 
result = cursor.fetchall()
print(result)
print('='*10)
print(result[0][1])
conn.commit()  #저장
cursor.close() 
conn.close()

(('제목수정됨', '내용Z'), ('제목A', '내용Z'))
==========
내용Z

In [34]:
#예외처리 없는 버전
import pymysql

conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='python',
    charset='utf8'
) #데이터 베이스 접속

cursor = conn.cursor() #Cursor 객체 생성

sql = ''' SELECT TITLE,CONTENT FROM mysql'''

# '''는 문자열을 의미한다
cursor.execute(sql) 
result = cursor.fetchmany(2)
result1 = cursor.fetchone()
print(result)
print(result1)

conn.commit()  #저장
cursor.close() 
conn.close()

(('제목수정됨', '내용Z'), ('제목A', '내용Z'))
None

### 연습문제

In [36]:
#1. MEMBER 테이블 만들기
import pymysql

conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='python',
    charset='utf8'
) #데이터 베이스 접속

cursor = conn.cursor() #Cursor 객체 생성


sql = ''' CREATE TABLE member(
        ID INTEGER PRIMARY KEY AUTO_INCREMENT,
        NAME VARCHAR(30),
        EMAIL VARCHAR(30),
        C_DATE DATETIME
        )'''

# '''는 문자열을 의미한다
cursor.execute(sql) 

conn.commit()  #저장
cursor.close() 
conn.close()

In [37]:
# 2. ARTICLE 테이블 만들기
import pymysql

conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='python',
    charset='utf8'
) #데이터 베이스 접속

cursor = conn.cursor() #Cursor 객체 생성


sql = ''' CREATE TABLE article(
        ID INTEGER PRIMARY KEY AUTO_INCREMENT,
        TITLE VARCHAR(30),
        CONTENT VARCHAR(30),
        WRITER VARCHAR(30),
        HIT INTEGER,
        C_DATE DATETIME
        )'''

# '''는 문자열을 의미한다
cursor.execute(sql) 

conn.commit()  #저장
cursor.close() 
conn.close()

### print 형식 정하기

In [12]:
# fetchmany, cursor()
import pymysql

conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='mydb',
    charset='utf8'
) #데이터 베이스 접속

cursor = conn.cursor() #Cursor 객체 생성

sql = '''SELECT year, area1, COUNT(*)
            FROM accident
            GROUP BY AREA1, YEAR'''


cursor.execute(sql) 
result = cursor.fetchmany(3)
for row in result:
    print(row)
conn.commit()  #저장
cursor.close() 
conn.close()

(2016, '강원', 206)
(2016, '경기', 749)
(2016, '경남', 359)

In [17]:
# fetchmany, DictCursor
import pymysql

conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='mydb',
    charset='utf8'
) #데이터 베이스 접속

cursor = conn.cursor(pymysql.cursors.DictCursor) #Cursor 객체 생성

sql = '''SELECT year, area1, COUNT(*) as 'cnt'
            FROM accident
            GROUP BY AREA1, YEAR'''


cursor.execute(sql) 
result = cursor.fetchmany(3)
for row in result:
    print(row['area1'],row['year'], row['cnt'])
conn.commit()  #저장
cursor.close() 
conn.close()

강원 2016 206
경기 2016 749
경남 2016 359

### 연습문제

In [90]:

import pymysql

conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='python',
    charset='utf8'
) #데이터 베이스 접속

with conn.cursor() as cursor: #Cursor 객체 생성

    sql = '''CREATE TABLE member(
            ID INTEGER PRIMARY KEY AUTO_INCREMENT,
            NAME VARCHAR(30),
            EMAIL VARCHAR(80),
            C_DATE DATETIME )
    '''


    cursor.execute(sql) 

    conn.commit()  #저장
# cursor.close() 
conn.close()

In [48]:

import pymysql

conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='python',
    charset='utf8'
) #데이터 베이스 접속

with conn.cursor() as cursor: #Cursor 객체 생성

    sql = '''INSERT INTO memeber VALUES(null, %s, %s, now())
    '''


    cursor.execute(sql,('a','a@a.com')) 

    conn.commit()  #저장
# cursor.close() 
conn.close()

In [21]:

import pymysql

conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='python',
    charset='utf8'
) #데이터 베이스 접속

with conn.cursor() as cursor: #Cursor 객체 생성

    sql = '''UPDATE memeber SET
    NAME = %s, EMAIL = %s
    WHERE ID = %s
    '''


    cursor.execute(sql,('aa','a@aa.com',1)) 

    conn.commit()  #저장
# cursor.close() 
conn.close()

In [27]:

import pymysql

conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='python',
    charset='utf8'
) #데이터 베이스 접속

with conn.cursor() as cursor: #Cursor 객체 생성

    sql = '''CREATE TABLE article2(
            ID INTEGER PRIMARY KEY AUTO_INCREMENT,
            TITLE VARCHAR(30),
            CONTENT VARCHAR(80),
            WRITER VARCHAR(80),
            HIT INTEGER,
            C_DATE DATETIME )
    '''


    cursor.execute(sql) 

    conn.commit()  #저장

# cursor.close() 
conn.close()

In [43]:

import pymysql

conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='python',
    charset='utf8'
) #데이터 베이스 접속

with conn.cursor() as cursor: #Cursor 객체 생성

    sql = '''INSERT INTO article2 VALUES(null, %s, %s,%s,%s, now())'''


    cursor.execute(sql,('제목','내용','파이썬',0)) 
    cursor.execute(sql,('제목2','내용2','파이썬2',0)) 

    conn.commit()  #저장
# cursor.close() 
conn.close()

In [42]:

import pymysql

conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='python',
    charset='utf8'
) #데이터 베이스 접속

with conn.cursor() as cursor: #Cursor 객체 생성

    sql = '''UPDATE article2 SET
    title = %s, content = %s, hit=%s
    WHERE ID = %s
    '''


    cursor.execute(sql,('제목수정','내용수정',100,1)) 

    conn.commit()  #저장
# cursor.close() 
conn.close()

### delete

In [50]:

import pymysql

conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='python',
    charset='utf8'
) #데이터 베이스 접속

with conn.cursor() as cursor: #Cursor 객체 생성

    sql = '''DELETE FROM memeber
    WHERE ID = %s
    '''


    cursor.execute(sql,2) 

    conn.commit()  #저장
# cursor.close() 
conn.close()

In [88]:
# import pymysql

# conn = pymysql.connect(
#     host = 'localhost',
#     user = 'root',
#     password=PW,
#     db='python',
#     charset='utf8'
# ) #데이터 베이스 접속

# with conn.cursor() as cursor: #Cursor 객체 생성

#     sql = '''DROP TABLE MEMBER
#     '''


#     cursor.execute(sql) 

#     conn.commit()  #저장
# # cursor.close() 
# conn.close()

In [85]:

# import pymysql

# conn = pymysql.connect(
#     host = 'localhost',
#     user = 'root',
#     password=PW,
#     db='python',
#     charset='utf8'
# ) #데이터 베이스 접속

# with conn.cursor() as cursor: #Cursor 객체 생성

#     sql = '''DELETE FROM member
#     '''


#     cursor.execute(sql) 

#     conn.commit()  #저장
# # cursor.close() 
# conn.close()

### SELECT

In [54]:
import pymysql

conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='mydb',
    charset='utf8'
) #데이터 베이스 접속

cursor = conn.cursor(pymysql.cursors.DictCursor) #Cursor 객체 생성

sql = '''SELECT *
            FROM EMP'''


cursor.execute(sql) 
result = cursor.fetchall() #fetchmany(3)
print(len(result))
for row in result[:3]:
    print(row['EMPNO'],row['ENAME'])
conn.commit()  #저장
cursor.close() 
conn.close()

14
7369 SMITH
7499 ALLEN
7521 WARD

In [64]:
# page 설정
import pymysql

page_num = int(input('원하는 페이지 번호를 입력해주세요: '))
end_num = page_num *10
start_num = end_num-9


conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password=PW,
    db='mydb',
    charset='utf8'
) #데이터 베이스 접속

cursor = conn.cursor(pymysql.cursors.DictCursor) #Cursor 객체 생성

sql = '''SELECT *
            FROM EMP
            LIMIT $s, 10'''


cursor.execute(sql, (start_num-1)) 
result = cursor.fetchall() #fetchmany(3)
print(len(result))
for row in result:
    print(row['EMPNO'],row['ENAME'])
conn.commit()  #저장
cursor.close() 
conn.close()

원하는 페이지 번호를 입력해주세요: 1

int

In [61]:
cursor.close() 
conn.close()

### 연습문제

In [16]:
import pymysql
def insert(sql, data):
    cursor.execute(sql, data)
#     conn.commit()


conn = pymysql.connect(
    host='localhost', user='root', password=PW,
    db='python', charset='utf8')
cursor = conn.cursor()

# 데이터 100개 입력
sql = '''INSERT INTO MEMBER
     (ID, NAME, EMAIL, C_DATE)
     VALUES (NULL, %s, %s, NOW())'''
for i in range(1, 101):
     insert(sql, ('제목' + str(i), 'a@a.com'))
        
# 데이터 입력 후 commit
# 조회 SQL 작성
# cursor 실행
# cursor로 부터 5개 조회
# 반복문을 이용하여 각 컬럼의 데이터 출력
# close
sql = '''SELECT * FROM MEMBER'''
cursor.execute(sql)
conn.commit()
result = cursor.fetchmany(5)
for row in result:
    print(row)

cursor.close()
conn.close()

(1, '제목1', 'a@a.com', datetime.datetime(2020, 1, 28, 11, 35, 11))
(2, '제목2', 'a@a.com', datetime.datetime(2020, 1, 28, 11, 35, 11))
(3, '제목3', 'a@a.com', datetime.datetime(2020, 1, 28, 11, 35, 11))
(4, '제목4', 'a@a.com', datetime.datetime(2020, 1, 28, 11, 35, 11))
(5, '제목5', 'a@a.com', datetime.datetime(2020, 1, 28, 11, 35, 11))

In [92]:
conn = pymysql.connect(
    host='localhost', user='root', password=PW,
    db='python', charset='utf8')
cursor = conn.cursor()

sql = '''SELECT * FROM MEMBER
        ORDER BY ID DESC'''
cursor.execute(sql)
result = cursor.fetchmany(5)
for row in result:
    print(row[0],row[1],row[2],row[3])
conn.commit()
cursor.close()
conn.close()

100 제목100 a@a.com 2020-01-28 11:35:11
99 제목99 a@a.com 2020-01-28 11:35:11
98 제목98 a@a.com 2020-01-28 11:35:11
97 제목97 a@a.com 2020-01-28 11:35:11
96 제목96 a@a.com 2020-01-28 11:35:11

In [75]:
import pymysql
def insert(sql, data):
#     cursor.execute(sql, data)
    conn = pymysql.connect(
    host='localhost', user='root', password=PW,
    db='python', charset='utf8')
    cursor = conn.cursor()
    cursor.execute(sql, data)
    conn.commit()

# 데이터 100개 입력
sql = '''INSERT INTO ARTICLE
     (ID, TITLE, CONTENT, WRITER, HIT, C_DATE)
     VALUES (NULL, %s, %s, %s, 0, NOW())'''
for i in range(1, 101):
    insert(sql, ('제목' + str(i), '내용' + str(i), '파이썬'))

In [78]:
       
# 데이터 입력 후 commit
# 조회 SQL 작성
# cursor 실행
# cursor로 부터 5개 조회
# 반복문을 이용하여 각 컬럼의 데이터 출력
# close
conn = pymysql.connect(
    host='localhost', user='root', password=PW,
    db='python', charset='utf8')
cursor = conn.cursor()

sql = '''SELECT * FROM ARTICLE
        ORDER BY ID DESC'''
cursor.execute(sql)
result = cursor.fetchmany(5)
for row in result:
    print(row[0],row[1],row[2],row[3],row[4],row[5])
conn.commit()
cursor.close()
conn.close()

101 제목100 내용100 파이썬 0 2020-01-28 11:30:00
100 제목99 내용99 파이썬 0 2020-01-28 11:30:00
99 제목98 내용98 파이썬 0 2020-01-28 11:30:00
98 제목97 내용97 파이썬 0 2020-01-28 11:30:00
97 제목96 내용96 파이썬 0 2020-01-28 11:30:00

### 11_06 연습문제

- 연중무휴 / 주차가능 음식점 조회

In [12]:
import pymysql
conn = pymysql.connect(
    host='localhost', user='root', password=PW,
    db='python', charset='utf8')
cursor = conn.cursor()

sql = '''SELECT * FROM shop
        WHERE (rest_date = %s) AND (parking_info = %s)
        ORDER BY SHOP_ID DESC
        '''
cursor.execute(sql,('연중무휴','주차가능'))
result = cursor.fetchall()
for row in result:
    for col in row[:-1]:
        print(col, end='')
    print()
conn.commit()
cursor.close()
conn.close()

808신기산업영도 앞바다가 한 눈에 들어오는 카페연중무휴주차가능
800속씨원한대구탕24시간 속을 시원하게 풀어주는 대구탕 전문점연중무휴주차가능

In [15]:
import pymysql
import re # 정규 표현식 사용을 위한 모듈 import

conn = pymysql.connect(
    host='localhost', user='root', password=PW,
    db='python', charset='utf8')
cursor = conn.cursor()

sql = '''SELECT * FROM info
        '''
cursor.execute(sql)
result = cursor.fetchall()
for id, name, pnum in result:
    
    pattern = re.compile('(\d{6})-\d{7}')
    change = '\g<1>-*******'
    pnum=pattern.sub(change, pnum)
  
    print(id, name, pnum, pnum[:pnum.find('-')]+'-'+'*'*7)
conn.commit()
cursor.close()
conn.close()

a 일길동 751111-******* 751111-*******
b 이길동 761111-******* 761111-*******
c 삼길동 771111-******* 771111-*******
d 사길동 781111-******* 781111-*******
e 오길동 791111-******* 791111-*******
f 육길동 801111-******* 801111-*******
g 칠길동 811111-******* 811111-*******

In [1]:
temp=(786, '태평양회참치', '부드러운 참다랑어 뱃살과 고소한 모듬회', '명절휴무', '주차가능', '/save_img/shop_img/ece475bf-0556-40d1-aea9-cf2387faa41c.jpg')
temp[0]

786