### SQL 문법
#### 데이터 다운로드
##### https://dev.mysql.com/doc/index-other.html

# 반올림 
SELECT ROUND(12.345,1)

SELECT CODE, round(GNP/population*1000,2)
FROM country

# 조건문
# if(조건, 참, 거짓)
SELECT NAME, population
, if(population >= 1000000, "big", "small") AS city_scale
FROM city


# ifnull(참, 거짓)
SELECT NAME, 
IFNULL(IndepYEar, "-") AS IndepYear
FROM country

# case
SELECT NAME, population,
case
	when population >= 100000 then "BIG"
	when population >= 10000000 then "BIIGGGGG"
	ELSE "-"
END AS result	
FROM country

# date format: 날짜 데이터의 포멧을 변경해주는 함수
USE sakila

SELECT date_FORMAT(payment_date,"%h") AS hour, count(amount)
FROM payment
GROUP BY HOUR

SELECT date_format(payment_date, "%Y-%m")AS monthly, sum(amount), COUNT(amount)
FROM payment
GROUP BY monthly 

# join :파이썬의 merge와 같은 기능(병합)
USE world

SELECT * FROM user

SELECT * FROM addr

# inner join: 합집합으로 병합
SELECT * 
FROM addr
JOIN user
ON addr.user_id = user.user_id

SELECT user.user_id, user.name, addr.addr
FROM addr
JOIN user
ON addr.user_id = user.user_id

SELECT distinct(city.NAME), city.countrycode, country.code, country.name
FROM city
JOIN country
ON city.countrycode = country.code 

# left join
SELECT id, addr.addr, addr.user_id, ifnull(user.name,"-")
FROM addr
left JOIN user
ON addr.user_id= user.user_id

# right join
SELECT user.user_id, user.name, ifnull(addr.addr,"-")
FROM addr
right JOIN user
ON addr.user_id = user.user_id

# union: select 문의 결과를 합쳐서 출력(중복제거)
SELECT name
FROM user
union
SELECT addr
FROM addr

SELECT NAME
FROM user
UNION ALL
SELECT addr
FROM addr

# outer join(left join + right join +union)
SELECT user.name, addr.addr, addr.user_id
FROM user
left JOIN addr
ON user.user_id = addr.user_id
UNION 
SELECT user.name, addr.addr, addr.user_id
FROM user
right JOIN addr
ON user.user_id = addr.user_id

# sub-query: 쿼리문 안에 있는 문법
SELECT
(SELECT COUNT(*)
FROM country) AS country_num,
(SELECT COUNT(*)
FROM city) AS city_num,
(SELECT count(DISTINCT(LANGUAGE))
FROM countrylanguage) AS language_num

SELECT *
FROM country

SELECT *
from city

SELECT CODE, NAME, GNP
FROM country
WHERE CODE IN 
	(SELECT countrycode
	FROM city
	WHERE population >= 500000)

# index: 데이터를 검색할 때 빠르게 찾을 수 있도록 해주는 기능
USE employees

CREATE INDEX tdate
ON salaries(TO_date)

SELECT COUNT(*)
from salaries
WHERE TO_date > "2000-12-31"

DROP INDEX tdate
ON salaries

# view: 특정 쿼리문에 대한 결과를 저장
USE world

SELECT * 
FROM addr

CREATE VIEW live_in_seoul AS
SELECT addr, user_id
FROM addr

SELECT NAME
FROM user
JOIN live_in_seoul
ON user.user_id = live_in_seoul.user_id