# 직접 해보세요!
## groupby 메서드로 평균값 구하기(215쪽)

In [3]:
import pandas as pd 
df = pd.read_csv('../data/gapminder.tsv', sep='\t')

In [4]:
avg_life_exp_by_year = df.groupby('year').lifeExp.mean() 
print(avg_life_exp_by_year)

# avg_life_exp_by_year = df.groupby('year')['lifeExp'].mean()
# print(avg_life_exp_by_year)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

# 직접 해보세요!
## 분할-반영-결합 과정 살펴보기(216쪽)

In [5]:
years = df.year.unique() 
print(years)

[1952 1957 1962 1967 1972 1977 1982 1987 1992 1997 2002 2007]

In [6]:
y1952 = df.loc[df.year == 1952, :] 
print(y1952.head())

        country continent  year  lifeExp       pop    gdpPercap
0   Afghanistan      Asia  1952   28.801   8425333   779.445314
12      Albania    Europe  1952   55.230   1282697  1601.056136
24      Algeria    Africa  1952   43.077   9279525  2449.008185
36       Angola    Africa  1952   30.015   4232095  3520.610273
48    Argentina  Americas  1952   62.485  17876956  5911.315053

In [6]:
y1952_mean = y1952.lifeExp.mean() 
print(y1952_mean)

49.05761971830987

In [7]:
y1957 = df.loc[df.year == 1957, :] 
y1957_mean = y1957.lifeExp.mean( )
print(y1957_mean)

y1962 = df.loc[df.year == 1962, :] 
y1962_mean = y1962.lifeExp.mean( )
print(y1962_mean)

y2007 = df.loc[df.year == 2007, :] 
y2007_mean = y2007.lifeExp.mean( )
print(y2007_mean)

51.50740112676054
53.60924901408449
67.00742253521126

In [8]:
df2 = pd.DataFrame({"year":[1952, 1957, 1962, 2007], 
                    "":[y1952_mean, y1957_mean,y1962_mean,y2007_mean]}) 
print(df2)  

#groupby 한것과 비슷. 이처럼 연도별로 분할해서, 각 연도마다 mean(반영), 하고 모두 결합한것이 groupby

   year
0  1952  49.057620
1  1957  51.507401
2  1962  53.609249
3  2007  67.007423

## 모두 동일한 코드

In [9]:
# 1. 
df.groupby('year').lifeExp.mean()

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [10]:
#2.
df.lifeExp.groupby(df.year).mean()

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [11]:
#3.
df.groupby('year').mean()['lifeExp']

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

### groupby와 함께 사용하는 집계 메서드
<table>
    <th>
        메서드</th> 
    <th>설명</th>
<tr>
<td>count </td> <td>누락값을 제외한 데이터 수를 반환</td>
</tr>
<tr>
<td> size</td> <td>누락값을 포함한 데이터 수를 반환</td>
<tr>
<tr>
<td> mean</td> <td> 평균 </td>
<tr>
<tr>
<td> std</td> <td>표준편차</td>
<tr>
<tr>
<td> min</td> <td>최솟값</td>
<tr>
<tr>
<td> quantile(q=0.25,0.5,0.75)</td> <td>백분위수</td>
<tr>
<tr>
<td> max</td> <td>최댓값</td>
<tr>
<tr>
<td> sum</td> <td>합</td>
<tr>
<tr>
<td> var</td> <td>분산</td>
<tr>
     <tr>
<td> sem</td> <td>평균의 표준편차</td>
<tr>
     <tr>
<td> describe</td> <td>데이터 수, 평균 등 기술통계량</td>
<tr>
     <tr>
<td> first</td> <td>첫번째항</td>
<tr>
     <tr>
<td> last</td> <td>마지막 행 반환</td>
<tr>
<td> nth</td> <td>n번째 행 반환</td>
<tr>
</table>

# 직접 해보세요!
## 평균값을 구하는 사용자 함수와 groupby 메서드(219쪽)

In [11]:
def my_mean(values):
    n = len(values)
    
    sum = 0 
    for value in values:
        sum += value
    
    return sum / n

In [12]:
agg_my_mean = df.groupby('year').lifeExp.agg(my_mean)  #mean은 시리즈를 스칼라로 만드는 reduce 연산이 필요해서 agg 사용
print(agg_my_mean)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

# 직접 해보세요!
## 두 개의 인잣값을 받아 처리하는 사용자 함수와 groupby 메서드(220쪽)

In [10]:
def my_mean_diff(values, diff_value):
    n = len(values) 
    sum = 0 
    for value in values:
        sum += value 
    mean = sum / n 
    return mean - diff_value

In [11]:
global_mean = df.lifeExp.mean() 
print(global_mean)

59.47443936619713

In [12]:
agg_mean_diff = df.groupby('year').lifeExp.agg(my_mean_diff, diff_value=global_mean) #my_mean_diff 함수 실행시 
print(agg_mean_diff)

year
1952   -10.416820
1957    -7.967038
1962    -5.865190
1967    -3.796150
1972    -1.827053
1977     0.095718
1982     2.058758
1987     3.738173
1992     4.685899
1997     5.540237
2002     6.220483
2007     7.532983
Name: lifeExp, dtype: float64

In [12]:
df.lifeExp.agg('mean')

59.47443936619713

### 연습문제
> 평균편차를 제공하는 함수를 작성하여 연도별로 lifeExp에 대해 집계하시오

In [14]:
mean_total=df.lifeExp.agg('mean')

In [37]:
def my_mean_diff(values, mean_total):
    return abs(values - mean_total)

df.groupby('year')['lifeExp'].apply(my_mean_diff, mean_total=mean_total).mean()

11.307998834804604

In [38]:
meanDav = lambda vec: np.abs(vec-vec.mean()).mean()
df.groupby('year').lifeExp.agg(meanDav).mean()

10.11135093896714

# 직접 해보세요!
## 집계 메서드를 리스트, 딕셔너리에 담아 전달하기(221쪽)

In [16]:
import numpy as np
gdf = df.groupby('year').lifeExp.agg([np.count_nonzero, np.mean, np.std]) 
print(gdf)

      count_nonzero       mean        std
year
1952          142.0  49.057620  12.225956
1957          142.0  51.507401  12.231286
1962          142.0  53.609249  12.097245
1967          142.0  55.678290  11.718858
1972          142.0  57.647386  11.381953
1977          142.0  59.570157  11.227229
1982          142.0  61.533197  10.770618
1987          142.0  63.212613  10.556285
1992          142.0  64.160338  11.227380
1997          142.0  65.014676  11.559439
2002          142.0  65.694923  12.279823
2007          142.0  67.007423  12.073021

### 서로 다른 함수 적용시

In [17]:
gdf_dict = df.groupby('year').agg({'lifeExp': 'mean', 'pop': 'median', 'gdpPercap': 'median'}) 
print(gdf_dict)

        lifeExp         pop    gdpPercap
year
1952  49.057620   3943953.0  1968.528344
1957  51.507401   4282942.0  2173.220291
1962  53.609249   4686039.5  2335.439533
1967  55.678290   5170175.5  2678.334741
1972  57.647386   5877996.5  3339.129407
1977  59.570157   6404036.5  3798.609244
1982  61.533197   7007320.0  4216.228428
1987  63.212613   7774861.5  4280.300366
1992  64.160338   8688686.5  4386.085502
1997  65.014676   9735063.5  4781.825478
2002  65.694923  10372918.5  5319.804524
2007  67.007423  10517531.0  6124.371109

## 연습
> lifeExp 변수에는 평균과 표준편차를, pop에는 중간값과 IQR을, gdpPercap은 평균과 중간값을 계산하기 위해서는 어떻게 해야할까?

In [68]:

def iqr_func(x):

    q3, q1 = np.percentile(x, [75, 25])

    iqr = q3 - q1

    return iqr

df.groupby('year').agg({'lifeExp': ['mean','std'], 'pop': ['median',iqr_func], 'gdpPercap': ['mean','median']})

        lifeExp                    pop                  gdpPercap
           mean        std      median     iqr_func          mean       median
year
1952  49.057620  12.225956   3943953.0   7716171.50   3725.276046  1968.528344
1957  51.507401  12.231286   4282942.0   8248786.75   4299.408345  2173.220291
1962  53.609249  12.097245   4686039.5   9195722.50   4725.812342  2335.439533
1967  55.678290  11.718858   5170175.5  10579816.25   5483.653047  2678.334741
1972  57.647386  11.381953   5877996.5  12328008.00   6770.082815  3339.129407
1977  59.570157  11.227229   6404036.5  13910509.75   7313.166421  3798.609244
1982  61.533197  10.770618   7007320.0  15401038.50   7518.901673  4216.228428
1987  63.212613  10.556285   7774861.5  17752553.00   7900.920218  4280.300366
1992  64.160338  11.227380   8688686.5  19099390.50   8158.608521  4386.085502
1997  65.014676  11.559439   9735063.5  20541220.00   9090.175363  4781.825478
2002  65.694923  12.279823  10372918.5  22372050.25   9917.848365  5319.804524
2007  67.007423  12.073021  10517531.0  26702008.25  11680.071820  6124.371109

# 직접 해보세요!
## 표준점수 계산하기(223쪽)

In [69]:
def my_zscore(x):
    return (x - x.mean()) / x.std()

In [74]:
transform_z = df.groupby('year').lifeExp.transform(my_zscore)

print(transform_z.head())

0   -1.656854
1   -1.731249
2   -1.786543
3   -1.848157
4   -1.894173
Name: lifeExp, dtype: float64

In [170]:
def find_mean(x):
    return x.mean()
transform_z = df.groupby('year').transform(my_zscore)
print(transform_z)

       lifeExp       pop  gdpPercap
0    -1.656854 -0.146729  -0.316040
1    -1.731249 -0.145372  -0.352449
2    -1.786543 -0.145495  -0.446815
3    -1.848157 -0.141885  -0.574092
4    -1.894173 -0.136615  -0.568107
...        ...       ...        ...
1699 -0.081621 -0.207589  -0.868065
1700 -0.336974 -0.203101  -0.826541
1701 -1.574962 -0.205629  -0.815782
1702 -2.093346 -0.209665  -0.828915
1703 -1.948180 -0.214807  -0.871728

[1704 rows x 3 columns]

In [72]:
print(df.shape)

(1704, 6)

In [73]:
print(transform_z.shape)

(1704,)

## 연습
- transform_z에 year 정보를 추가하는 방법

In [151]:
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [167]:
df.groupby('year').transform(my_zscore)

       lifeExp       pop  gdpPercap
0    -1.656854 -0.146729  -0.316040
1    -1.731249 -0.145372  -0.352449
2    -1.786543 -0.145495  -0.446815
3    -1.848157 -0.141885  -0.574092
4    -1.894173 -0.136615  -0.568107
...        ...       ...        ...
1699 -0.081621 -0.207589  -0.868065
1700 -0.336974 -0.203101  -0.826541
1701 -1.574962 -0.205629  -0.815782
1702 -2.093346 -0.209665  -0.828915
1703 -1.948180 -0.214807  -0.871728

[1704 rows x 3 columns]

In [160]:
pd.merge(df[['country','year']],transform_z,left_index=True, right_index=True)

          country  year   lifeExp
0     Afghanistan  1952 -1.656854
1     Afghanistan  1957 -1.731249
2     Afghanistan  1962 -1.786543
3     Afghanistan  1967 -1.848157
4     Afghanistan  1972 -1.894173
...           ...   ...       ...
1699     Zimbabwe  1987 -0.081621
1700     Zimbabwe  1992 -0.336974
1701     Zimbabwe  1997 -1.574962
1702     Zimbabwe  2002 -2.093346
1703     Zimbabwe  2007 -1.948180

[1704 rows x 3 columns]

# 직접 해보세요!
## 누락값을 평균값으로 처리하기(224쪽)

In [14]:
import seaborn as sns 
import numpy as np

np.random.seed(42)
tips_10 = sns.load_dataset('tips').sample(10)
tips_10.loc[np.random.permutation(tips_10.index)[:4], 'total_bill'] = np.NaN

print(tips_10)

     total_bill   tip     sex smoker   day    time  size
24        19.82  3.18    Male     No   Sat  Dinner     2
6          8.77  2.00    Male     No   Sun  Dinner     2
153         NaN  2.00    Male     No   Sun  Dinner     4
211         NaN  5.16    Male    Yes   Sat  Dinner     4
198         NaN  2.00  Female    Yes  Thur   Lunch     2
176         NaN  2.00    Male    Yes   Sun  Dinner     2
192       28.44  2.56    Male    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
9         14.78  3.23    Male     No   Sun  Dinner     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2

In [15]:
count_sex = tips_10.groupby('sex').count() 
print(count_sex)

        total_bill  tip  smoker  day  time  size
sex
Male             4    7       7    7     7     7
Female           2    3       3    3     3     3

In [16]:
def fill_na_mean(x):
    avg = x.mean() 
    return x.fillna(avg)

In [17]:
total_bill_group_mean = tips_10.groupby('sex').total_bill.transform(fill_na_mean)
tips_10['fill_total_bill'] = total_bill_group_mean
print(tips_10)

     total_bill   tip     sex smoker   day    time  size  fill_total_bill
24        19.82  3.18    Male     No   Sat  Dinner     2          19.8200
6          8.77  2.00    Male     No   Sun  Dinner     2           8.7700
153         NaN  2.00    Male     No   Sun  Dinner     4          17.9525
211         NaN  5.16    Male    Yes   Sat  Dinner     4          17.9525
198         NaN  2.00  Female    Yes  Thur   Lunch     2          13.9300
176         NaN  2.00    Male    Yes   Sun  Dinner     2          17.9525
192       28.44  2.56    Male    Yes  Thur   Lunch     2          28.4400
124       12.48  2.52  Female     No  Thur   Lunch     2          12.4800
9         14.78  3.23    Male     No   Sun  Dinner     2          14.7800
101       15.38  3.00  Female    Yes   Fri  Dinner     2          15.3800

# 직접 해보세요!
## 데이터 필터링 사용하기 ─ filter 메서드(227쪽)

In [23]:
tips = sns.load_dataset('tips')

print(tips.shape)

(244, 7)

In [24]:
print(tips['size'].value_counts())

2    156
3     38
4     37
5      5
6      4
1      4
Name: size, dtype: int64

In [25]:
tips_filtered = tips.\
    groupby('size').\
    filter(lambda x: x['size'].count() >= 30)

In [26]:
print(tips_filtered.shape)

(231, 7)

In [27]:
print(tips_filtered['size'].value_counts())

2    156
3     38
4     37
Name: size, dtype: int64

### 연습
1. 전체 데이터의 total_bill과 tip의 평균과 중간값을 구하고,
2. tip/total_bill의 값이 이상치를 식별하고
3. 이창치를 제거할 때의 total_bill의 평균과 중간값을 비교해보자

In [208]:
import seaborn as sns
tips = sns.load_dataset('tips')
print("tips['total_bill']")
print("mean: ",tips['total_bill'].mean())
print("median ",tips['total_bill'].median())

tips['total_bill']
mean:  19.785942622950824
median  17.795

In [209]:
tips['total_rate'] = tips['tip']/ tips['total_bill'] *100
print("tips['total_rate']")
print("mean ",tips['total_rate'].mean())
print( "median",tips['total_rate'].median())

tips['total_rate']
mean  16.080258172250463
median 15.476977125802577

In [219]:
tips.agg({'total_bill':['mean','median'], 'tip':['mean','median']})

        total_bill       tip
mean     19.785943  2.998279
median   17.795000  2.900000

In [184]:
q3=np.percentile(tips['total_rate'], 75)
q1=np.percentile(tips['total_rate'], 25)
q1,q3

(12.912736174309597, 19.14754863299875)

In [198]:
def iqr_func(x):

    q3, q1 = np.percentile(x, [75, 25])

    iqr = q3 - q1

    return iqr
iqr=iqr_func(tips['total_rate'])

In [212]:
##아웃라이어
# list(filter( lambda x:(x<(q1-1.5*iqr))|(x>(q3+1.5*iqr)),tips['total_rate']))

In [210]:
#mean
print("아웃라이어 제거 후의 tips['total_rate']")
print("mean ",np.mean(list(filter( lambda x:(x>=(q1-1.5*iqr))&(x<=(q3+1.5*iqr)),tips['total_rate']))))
print("median ",np.median(list(filter( lambda x:(x>=(q1-1.5*iqr))&(x<=(q3+1.5*iqr)),tips['total_rate']))), )

아웃라이어 제거 후의 tips['total_rate']
mean  15.621289951221994
median  15.384615384615385

In [217]:
tips[tips['total_rate'].apply(lambda x: True if (x>=(q1-1.5*iqr))&(x<=(q3+1.5*iqr)) else False)].agg({'total_bill':['mean','median'], 'tip':['mean','median']})

        total_bill       tip
mean     19.984333  2.991833
median   17.855000  2.855000

# 직접 해보세요!
## 그룹 오브젝트 저장하여 살펴보기(229쪽)

In [28]:
tips_10 = sns.load_dataset('tips').sample(10, random_state=42) 
print(tips_10)

     total_bill   tip     sex smoker   day    time  size
24        19.82  3.18    Male     No   Sat  Dinner     2
6          8.77  2.00    Male     No   Sun  Dinner     2
153       24.55  2.00    Male     No   Sun  Dinner     4
211       25.89  5.16    Male    Yes   Sat  Dinner     4
198       13.00  2.00  Female    Yes  Thur   Lunch     2
176       17.89  2.00    Male    Yes   Sun  Dinner     2
192       28.44  2.56    Male    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
9         14.78  3.23    Male     No   Sun  Dinner     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2

In [29]:
grouped = tips_10.groupby('sex')
print(grouped)

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x00000209D96377F0>

In [30]:
print(grouped.groups)

{'Male': Int64Index([24, 6, 153, 211, 176, 192, 9], dtype='int64'), 'Female': Int64Index([198, 124, 101], dtype='int64')}

In [ ]:
1. (성별, 흡연, 날짜, 타임)으로 그룹바이해서 각 그룹의 mean값으로 대체
2. 비결측치 값으로 회귀분석하여 모델을 만든 후, 결측치의 X들을 넣어 prediction 값을 대체
3. 비결측치 값으로 랜덤포레스트 회귀 등 비선형 모델을 만든 후 결측치 X들을 넣어 prediction 값을 대체

# 직접 해보세요!
## 그룹 오브젝트의 평균 구하기(230쪽)

In [31]:
avgs = grouped.mean() 
print(avgs)

        total_bill       tip      size
sex
Male         20.02  2.875714  2.571429
Female       13.62  2.506667  2.000000

In [32]:
print(tips_10.columns)

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

# 직접 해보세요!
## 그룹 오브젝트에서 데이터 추출하고 반복하기(231쪽)

In [33]:
# 그룹 오브젝트 활용 참고
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.groupby.html

In [34]:
female = grouped.get_group('Female') 
print(female)

     total_bill   tip     sex smoker   day    time  size
198       13.00  2.00  Female    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2

In [35]:
for sex_group in grouped:
    print(sex_group)

('Male',      total_bill   tip   sex smoker   day    time  size
24        19.82  3.18  Male     No   Sat  Dinner     2
6          8.77  2.00  Male     No   Sun  Dinner     2
153       24.55  2.00  Male     No   Sun  Dinner     4
211       25.89  5.16  Male    Yes   Sat  Dinner     4
176       17.89  2.00  Male    Yes   Sun  Dinner     2
192       28.44  2.56  Male    Yes  Thur   Lunch     2
9         14.78  3.23  Male     No   Sun  Dinner     2)
('Female',      total_bill   tip     sex smoker   day    time  size
198       13.00  2.00  Female    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2)

In [36]:
for sex_group in grouped:
    print('the type is: {}\n'.format(type(sex_group)))
    print('the length is: {}\n'.format(len(sex_group)))

    first_element = sex_group[0] 
    print('the first element is: {}\n'.format(first_element))
    print('it has a type of: {}\n'.format(type(sex_group[0])))

    second_element = sex_group[1] 
    print('the second element is:\n{}\n'.format(second_element))
    print('it has a type of: {}\n'.format(type(second_element)))

    print('what we have:') 
    print(sex_group)

    break

the type is: <class 'tuple'>

the length is: 2

the first element is: Male

it has a type of: <class 'str'>

the second element is:
     total_bill   tip   sex smoker   day    time  size
24        19.82  3.18  Male     No   Sat  Dinner     2
6          8.77  2.00  Male     No   Sun  Dinner     2
153       24.55  2.00  Male     No   Sun  Dinner     4
211       25.89  5.16  Male    Yes   Sat  Dinner     4
176       17.89  2.00  Male    Yes   Sun  Dinner     2
192       28.44  2.56  Male    Yes  Thur   Lunch     2
9         14.78  3.23  Male     No   Sun  Dinner     2

it has a type of: <class 'pandas.core.frame.DataFrame'>

what we have:
('Male',      total_bill   tip   sex smoker   day    time  size
24        19.82  3.18  Male     No   Sat  Dinner     2
6          8.77  2.00  Male     No   Sun  Dinner     2
153       24.55  2.00  Male     No   Sun  Dinner     4
211       25.89  5.16  Male    Yes   Sat  Dinner     4
176       17.89  2.00  Male    Yes   Sun  Dinner     2
192       28.44  2.56  Male    Yes  Thur   Lunch     2
9         14.78  3.23  Male     No   Sun  Dinner     2)

# 직접 해보세요!
## 그룹 오브젝트 계산하고 살펴보기(234쪽)

In [40]:
bill_sex_time = tips_10.groupby(['sex', 'time'])
group_avg = bill_sex_time.mean() 

print(group_avg)

               total_bill       tip      size
sex    time
Male   Lunch    28.440000  2.560000  2.000000
       Dinner   18.616667  2.928333  2.666667
Female Lunch    12.740000  2.260000  2.000000
       Dinner   15.380000  3.000000  2.000000

In [39]:
print(type(group_avg))

<class 'pandas.core.frame.DataFrame'>

In [40]:
print(group_avg.columns)

Index(['total_bill', 'tip', 'size'], dtype='object')

In [41]:
print(group_avg.index)

MultiIndex(levels=[['Male', 'Female'], ['Lunch', 'Dinner']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]],
           names=['sex', 'time'])

In [ ]:
group_method = tips_10.groupby(['sex', 'time']).mean().reset_index() 
print(group_method)

In [ ]:
group_param = tips_10.groupby(['sex', 'time'], as_index=False).mean( ) 
print(group_param)