### 연습문제

 - 3과목 이상을 수강하였고 평점이 70점 이상인 경우 '학위 취득' → 2가지 조건 만족
 - 3과목 이상을 수강하였거나 평점이 70점 이상인 경우 '졸업' → 1가지 조건 만족
 - 그 외의 경우 '재수강'을 출력하는 조건문 작성

In [1]:
subjectList = ['운영체제', '데이터베이스', '객체지향언어'] # 수강한 과목 리스트
average = 60 # 평점

if (len(subjectList)>=3) and average >= 70:
    print("학위 취득")
elif (len(subjectList)>=3) or average >= 70:
    print("졸업")
else:
    print("재수강")
# 코드 작성
# 리스트 요소의 개수를 확인할 때 len() 함수 사용, ex) len(subjectList)

졸업

- 이수한 과목 목록 중 '자료구조'가 있는지 확인하고
- '자료구조'가 있다면 점수를 확인한 후
- 60점 이상이면 '이수 완료'를 출력하는 조건문 작성

In [3]:
subject = {'자료구조' : 80, '알고리즘' : 60, '네트워크' : 90}
# 코드 작성
if "자료구조" in subject:
    if subject['자료구조']>=60:
        print("이수 완료")

이수 완료

### 반복문
#### While

In [7]:
import random

while True:
    num = random.randint(1,3)
    print('%d' %num)
    if num == 2: break

1
3
3
3
1
2

In [9]:
count = 0
while count <10:
    count = count + 1
    print('%d번 반복' %count)

1번 반복
2번 반복
3번 반복
4번 반복
5번 반복
6번 반복
7번 반복
8번 반복
9번 반복
10번 반복

In [10]:
###  1부터 1000 까지의 정수 합 구하기
num = 1
total  = 0

while num <=1000:
    total += num
    num +=1
    
print(total)

500500

In [11]:
#1부터 1000 까지의 정수 중 3의 배수 합 구하기
num = 1
total  = 0

while num <=1000:
    if num%3 ==0:
        total += num
    num +=1
    
print(total)

166833

In [28]:
#각 학생들의 점수를 표현한 리스트를 이용하여 50점 이상인 학생의 점수 합 구하기
scoreList = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
total = 0
# 코드 작성 - List pop() 함수 이용
while len(scoreList)>0:
    i=scoreList.pop()
    if i >=50:
        total += i
print(total)

481

In [22]:
scoreList = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
total = 0
for i in scoreList:
    if i >=50:
        total += i
total

481

In [10]:
#각 학생들의 점수를 표현한 딕셔너리를 이용하여 80점 이상인 학생의 점수 합 구하기
studentInfo = {
 'a':33, 'b':55, 'c':67, 'd':82, 'e':45,
 'f':33, 'g':90, 'h':87, 'i': 100, 'j':25
}

ls=list(studentInfo.values())
total = 0

while len(ls)>0:
    i = ls.pop()
    if i>=80:
        total += i
    
# 코드 작성 - Dictionary values(), List pop() 등 이용
print(total)

359

In [39]:
# 두 개의 두사위를 던졌을때 나오는 눈을 출력하고 두 눈이 같으면 종료
import random # random 모듈 import

while True:
    a = random.randint(1, 6)
    b = random.randint(1, 6)
    print(a,b)
    if a == b: break
        
print("두 눈이 같으므로 종료")

2 6
4 5
2 4
3 2
1 5
5 1
4 6
2 5
5 3
4 1
2 4
3 5
2 2
두 눈이 같으므로 종료

In [42]:
# 랜덤 기능을 이용하여 6개의 로또 번호 만들기
import random
lottoList = list() # 빈 List 생성
# 코드 작성
# 반복문 조건으로 len() 함수 이용
# random.randint(1, 45) 함수 이용
# 번호 생성 후 lottoList에 append
while True:
    i = random.randint(1,45)
    if i not in lottoList:
        lottoList.append(i)
    if len(lottoList) == 6:
        break
print(lottoList)

[18, 39, 29, 4, 13, 33]

In [16]:
# 랜덤 기능을 이용하여 6개의 로또 번호 만들기
import random
lottoSet = set() 

while True:
    i = random.randint(1,45)
 
    lottoSet.add(i)
    if len(lottoSet) == 6:
        break
print(lottoSet)

{4, 5, 38, 10, 44, 25}

In [45]:
# 아래와 같은 모습의 삼각형 모습 출력

i = 1 

while i <6:
    print('*'*i)
    i+=1

*
**
***
****
*****

In [47]:
# 반대로
i = 1 # '*' 개수
space = 0 # 여백의 크기
# 코드 작성
# print() 후 줄바꿈 하지 않음 → print('내용', end='')
# 문자열 * 숫자 기능 이용
while i<6:
    print(" "*(5-space), end = "")
    print("*"*i)
    i+=1
    space+=1

     *
    **
   ***
  ****
 *****

In [52]:
# 반대로
i = 1 # '*' 개수
space = 0 # 여백의 크기

while i<6:
    print(" "*(5-i),"*"*i)
    i+=1

     *
    **
   ***
  ****
 *****

### for

In [17]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [18]:
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

## list comprehension

In [3]:
data = list(range(1,101))
result = [x for x in data if x%17 ==0]
result

[17, 34, 51, 68, 85]

In [5]:
a = 'a b c d e f g'.split()
b = 'a b e w e h g'.split()

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [6]:
 #1 ~ 100 사이의 숫자 중 3을 포함하고 있는 숫자와 그 개수를 출력
count = 0
for i in range(101):
    if "3" in str(i):
        print(i)
        count += 1
print(f"개수: {count}")

3
13
23
30
31
32
33
34
35
36
37
38
39
43
53
63
73
83
93
개수: 19

In [14]:
#아래와 같은 리스트가 있을 때 각 요소가 3의 배수인지 확인하여 삭제하는 코드 작성
list1 = [10, 20, 30, 40, 50, 60, 70]
for i in list1:
    if  i%3==0:
        list1.remove(i)
list1

[10, 20, 40, 50, 70]

In [28]:
list1 = [10, 20, 30, 40, 50, 60, 70]
result=[]
for _ in range(len(list1)):
    i=list1.pop()
    if i %3 !=0:
        result.append(i)
result.sort()
result

[10, 20, 40, 50, 70]

In [9]:
list1 = [10, 20, 30, 40, 50, 60, 70]
result=[]
for i in range(len(list1),0,-1):
    if i %3 ==0:
        list1.pop(i)

list1

[10, 20, 30, 50, 60]

In [ ]:
# ! jupyter nbconvert --to slides 03_조건_반복문_연습.ipynb --post serve

In [2]:
# 홀 / 짝 수를 판단해주는 함수 작성
def Odd_Even(num):
    if num%2 == 0:
        return True
    if num%2 == 1:
        return False
Odd_Even(3)

False

In [7]:
def plus(num1,num2):
    return num1 + num2

def minus(num1, num2):
    return abs(num1 - num2)
result1 = plus(5, 3)
result2 = minus(3, 9)
print(result1)
print(result2)

8
6

In [13]:
# 1 이상의 정수 N을 입력받은 후 1 ~ N 까지의 합을 구하는 함수 작성
def total_sum(n):
    result = 0
    for i  in range(1,n+1):
        result +=i
    return result
n= int(input())
total_sum(n)

10

55

In [5]:
def calculator(ls):
    ls_sum = sum(ls)
    ls_avg = ls_sum/len(ls)
    return (ls_sum, ls_avg)
result = calculator([3, 7, 9, 11])
print(result)

(30, 7.5)

### Lambda : 함수를 간결하게 생성할 때 사용

In [39]:
ls_1 = [10,20,30,40]
func=lambda num : num*2
func(ls_1[3])

80

In [41]:
list2 = [func(i) for i in ls_1]
list2

[20, 40, 60, 80]

In [44]:
ls_1 = [10,20,30,40]
list2 = [i*2 for i in ls_1]
list2

[20, 40, 60, 80]

#### 연습문제
>3개의 숫자를 입력받아 숫자들의 합과 그 숫자들을 제곱한 숫자들의 합의 차이를
 계산하는 함수 diff_sum 만들기

In [49]:
def diff_sum(a,b,c):
    double_sum = sum([a**2, b**2, c**2])
    org_sum = sum([a,b,c])
    return double_sum - org_sum
print(diff_sum(1,1,1))
print(diff_sum(5,3,1))

0
26

#### 다음과 같은 수열이 있을 때 N 번째의 수열의 값을 구하는 get_sequence 함수 만들기

In [58]:
def get_sequence(n):
    count_ls= []
    result_ls=[]
    for i in range(n+1):
        count_ls.append(i)
        result=sum(count_ls)
        result_ls.append(result)
    return sum(result_ls)

get_sequence(4)

20

In [57]:
1+(1+2)+(1+2+3)+(1+2+3+4)

20

#### 3. 단어 s의 가운데 글자를 반환하는 get_mid_char 함수 만들기
- 조건 1) functions 와 같은 홀수 길이 단어가 입력되면 가운데 한글자 반환 ex) t
- 조건 2) python 과 같은 짝수 길이 단어가 입력되면 가운데 두 글자 반환 ex) th

In [91]:
def get_mid_char(word):
    if len(word)%2 ==0:
        idx = len(word)//2
        return word[idx-1:idx+1]
    
    else:
        idx = len(word)//2
        return word[idx]
print(get_mid_char('functions'))
print(get_mid_char('python'))

t
th

#### 길이가 N이고, 수박수박수박수... 와 같은 패턴을 유지하는 문자열을 반환하는print_str 함수 만들기

In [69]:
def print_str(n):
    for i in range(1,n+1):
        if i%2==1:
            print("수", end="")
        else:
            print("박", end="")
print_str(7)

수박수박수박수

In [93]:
def print_str(n):
    word = '수박'
    if n%2==0:
        print (word*(n//2))
    else:
        print((word*(n//2))+"수")
        
    
print_str(7)

수박수박수박수

#### 자연수 N이 주어지면 N의 각 자리수 합을 구해서 반환하는 get_total 함수 만들기

In [84]:
def get_total(n):
    result =sum([int(i) for i in str(n)])
    
    return result

print(get_total(12345))
print(get_total(13579))

15
25

In [88]:
def get_total(n):
    count= 0
    for i in [int(i) for i in str(n)]:
        count += i
    
    return count

print(get_total(12345))
print(get_total(13579))

15
25

#### 실행결과와 같이 출력될 수 있도록 함수 작성

In [116]:
text1 = '' #전역변수

def str_adder (*args):
    global text1
    for i in args:
        text1 += i
    return text1
        
str_adder('1', '2', '3', '4') # → 1234
# str_adder('p', 'y', 't', 'h', 'o', 'n') # → python

'1234'

 ### 아래의 5보다 큰 수만 필터링하여 돌려주는 함수를  lambda와 List Comprehension을 이용하는 함수로 작성

In [109]:
def myfunc(numbers):
    result = []
    for number in numbers:
        if number >5:
            result.append(number)
    return result
    
result = myfunc([2, 3, 4, 5, 6, 7, 8])
print(result)

[6, 7, 8]

In [114]:
myfunc2 = lambda x: [ i for i in x if i>5]
myfunc2([2, 3, 4, 5, 6, 7, 8])

[6, 7, 8]

### Lambda Examples

In [104]:
#3의 배수인지 판단하는 함수
lambda1 = lambda n : n % 2 == 0
print(lambda1(3))

False

In [103]:
#지정된 범위 내의 난수 발생 함수
import random
lambda2 = lambda a, b : random.randint(a, b)
print(lambda2(1, 3))

2

In [105]:
# 리스트의 각 요소에 2를 곱한 새로운 리스트 생성
list1 = [1, 2, 3, 4]
result1 = [n * 2 for n in list1]
print(result1)

[2, 4, 6, 8]

In [106]:
# 리스트의 각 요소 중 2 또는 3의 배수인 요소만 필터링
list2 = [1, 2, 3, 4]
result2 = [n for n in list2 if n % 2 == 0 or n % 3 == 0]
print(result2)

[2, 3, 4]